# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
robotics-env/

# VSCode
.vscode/

# Logs
logs/
*.npz
*.csv

# Images/videos
*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg

# OS files
.DS_Store
Thumbs.db